<a [routerLink]="['']" class="back"><span class="fa fa-angle-left fa-3x"></span></a>
<br>
<br>
<div *ngIf="this.newFlag!=0" class="notNew">


  <div style="font-size: 15pt">
    {{test.type }} D {{test.date | date: 'dd/MM/yyyy' }}
  </div>

  <table class = "table">
    <thead>
      <th>Name</th>
      <th *ngIf="this.cooper">Distance</th>
      <th *ngIf="this.cooper">Fitness Rating</th>
      <th *ngIf="this.sprint">Time</th>
    </thead>
    <tbody>
      <tr *ngFor="let userDetails of userTestMappings">
        <td><a [routerLink]="['/addAthlete']" [state]="{id: userDetails.id}">{{getName(userDetails.uId)}}</a></td>
        <td *ngIf="this.cooper">{{userDetails.distance}}</td>
        <td *ngIf="this.cooper">{{getFR(userDetails.distance)}}</td>
        <td *ngIf="this.sprint">{{userDetails.time}}</td>
      </tr>
    </tbody>
  </table>


  <a  [routerLink]="['/addAthlete']" [state]="{ TId:test.id , testType:test.type}"><button type="button" class="btn btn-secondary">NEW ATHLETE TO TEST</button></a>
  <button type="button" class="btn btn-secondary" (click)="onDelete()">DELETE</button>

</div>

<div class="New">


  <form *ngIf="this.newFlag==0" #myForm="ngForm" class="myForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <h4>CREATE NEW TEST</h4>
    <label>Type</label>
    <select class="form-control" id="type" [(ngModel)]="test.type" name="type" required>
      <option>Coopertest</option>
      <option>100 meter sprint</option>
    </select>

    <label>Date</label>
    <input type="date" class="form-control" id="date" [(ngModel)]="test.date" name="date" required>
<br>
    <input type="submit" class="btn btn-primary">
  </form>
</div>
